spring.datasource.url={{{db.url}}}
spring.datasource.username={{{db.username}}}
spring.datasource.password={{{db.password}}}
spring.datasource.driver-class-name={{{db.driver}}}
spring.jpa.hibernate.ddl-auto={{{db.ddlAuto}}}
spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect
server.port=8080
spring.jpa.show-sql=true